JSON
.idea

JSON/ 04-10-2021/ 0/ 17.json.gz
DATABASE/db_python_app.sqlite
doi_fetcher.log
DATABASE/db_python_app.sqlite-journal
doi_fetcher.log
DATABASE/db_python_app.sqlite
__pycache__/load_crossref.cpython-38.pyc
.idea/misc.xml
.idea/misc.xml
*.xml
doi_fetcher.log
r
serv.py
server.py
